(
    board_size: (10, 24),
    number_of_previews: 4,
    lock_delay: 3,
    tick_delay: {
        1: 800,
        2: 717,
        3: 633,
        4: 550,
        5: 467,
        6: 383,
        7: 300,
        8: 217,
        9: 133,
        10: 100,
        13: 83,
        16: 67,
        19: 50,
        29: 33,
    },
    tetromino_color: {
        I: Rgb(0, 255, 255),
        L: Rgb(255, 127, 0),
        J: Rgb(0, 0, 255),
        O: Rgb(255, 255, 0),
        S: Rgb(0, 255, 0),
        T: Rgb(128, 0, 128),
        Z: Rgb(255, 0, 0),
    },
    ghost_color: {
        I: Rgb(0, 127, 128),
        L: Rgb(128, 64, 0),
        J: Rgb(0, 0, 128),
        O: Rgb(128, 127, 0),
        S: Rgb(0, 128, 0),
        T: Rgb(61, 0, 61),
        Z: Rgb(128, 0, 0),
    },
    border_color: {
        I: Rgb(64, 191, 191),
        L: Rgb(191, 127, 64),
        J: Rgb(64, 64, 191),
        O: Rgb(191, 191, 64),
        S: Rgb(64, 191, 64),
        T: Rgb(96, 32, 96),
        Z: Rgb(191, 64, 64),
    },
    bag_type: BagType::Seven
)
